<input type="text" ng-model="nameFilter" placeholder="Search..."/>
<table class="table table-striped">
<thead>
  <tr><th colspan="4">Drivers Championship Standings</th></tr>
</thead>
<tbody>
  <tr ng-repeat="vacancy in vacanciesList | filter: searchFilter">
    <td>{{$index + 1}}</td>
    <td>
      <span>{{vacancy.employer.name}}</span>
      <a href="#/vacancy/{{vacancy.id}}">
	  	{{vacancy.name}}
	  </a>
      <span>{{vacancy.created_at | date:'d MMMM'}}</span>
	</td>
    <td>{{driver.Constructors[0].name}}</td>
    <td>{{driver.points}}</td>
  </tr>
</tbody>
</table>
